html{
    font-family: Georgia, serif;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    background: #f62a00;
    z-index: 10;
}

.navLinks{
    display: flex;
    margin-right: 30px;
}

.navLinks a {
    display: block;
    padding:7px;
}

.navLinks a:hover {
    background: #1e656d;
  }

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: #f1f3ce;
    padding-right: 10px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #00293c;
    color: #f1f3ce;
    /*background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);  #00293c; #1e656d; #f1f3ce; #f62a00;*/ 
}

.imgPerfil{
border-radius: 100%;
width: 20%;
}

.imgSkill{
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

#education{
    color: #f1f3ce;
    background: #1e656d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.educationPosition{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.cardEducation{
    border-radius: 5%;
    border-style: solid;
    color: #f1f3ce;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60%;
}
  
.projects{
    color: #f1f3ce;
    background: #1e656d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projectsPosition{
    display: flex;
    flex-direction: row;
}

.project-tile{
    width: 300px;
  height: 300px;
    border-radius: 5%;
    margin: 10px;;
}

.project-tile img{
      height: 100%;
      width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background: #00293c;
    color: #f1f3ce;
}

.copyright{
    padding-top: 10px;
    padding-bottom: 10px;
}


@media screen and (max-width: 790px) {

    .educationPosition{
        display: flex;
        flex-direction: column;
    }

    .projectsPosition{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 400px) {

    .nav {
        display: flex;
        justify-content: center;
        height: 130px;
        padding: 0px;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}